$goify-red: #df2935;
$goify-yellow: #fdca40;

// Black
$goifyBlack: #020202;
$goifyBlack-light: #212121;
$goifyBlack-lighter: #2f2f2f;

// Green
$goifyGreen: #16db65;
$goifyGreen-light: #2cc76a;
$goifyGreen-dark: #24a557;

// Purple
$goifyPurple: #414288;
$goifyPurple-dark: #363772;
