$goify-black: #020202;
$goify-purple: #414288;
$goify-red: #df2935;
$goify-yellow: #fdca40;

// Green
$goify-green: #16db65;
$goify-greenFaded: #2cc76a;
$goify-greenDarken: #24a557;

// :export {
//   goifyBlack: $goify-black;
//   goifyPurple: $goify-purple;
//   goifyRed: $goify-red;
//   goifyYellow: $goify-yellow;
//   goifyGreen: $goify-green;
// }
