#playlist-block:hover {
  background-color: #c1cad3 !important;
}

#playlist-block.active {
  background-color: #20c997 !important;
  color: white !important;
}

#playlist-block.active:hover {
  background-color: #1dbc8c !important;
}
