@use "./common.scss" as common;

.logo {
  font-size: 72px;
  background: rgb(22, 219, 101);
  background: linear-gradient(
    90deg,
    rgba(22, 219, 101, 1) 21%,
    rgba(81, 205, 168, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-getStarted {
  background-color: common.$goify-purple;
}
