@use "common" as *;

.playlist-container {
  border-bottom-style: solid;
  border-top-style: solid;
  border-color: $goifyBlack-lighter;
}

.playlist {
  color: black;
}

.playlist:hover {
  background-color: #c1cad3 !important;
}

.playlist.active {
  background-color: $goifyGreen-light !important;
  color: white;
}

.playlist.active:hover {
  background-color: $goifyGreen-dark !important;
}

// Playlist Options
.options-btn {
  background-color: $goifyGreen;
  color: white;
}

.options-btn:hover {
  background-color: $goifyGreen-dark;
  color: white;
}
