@use "common" as *;

.playlist-container {
  border-bottom-style: solid;
  border-top-style: solid;
  border-color: $bg-black-lighter;
}

.playlist {
  color: $bg-black;
}

.playlist:hover {
  background-color: $bg-gray !important;
}

.playlist.active {
  background-color: $bg-green-light !important;
  color: $bg-white;
}

.playlist.active:hover {
  background-color: $bg-green-dark !important;
}

// Playlist Options
.options-btn {
  background-color: $bg-green;
  color: $bg-white;
}

.options-btn:hover {
  background-color: $bg-green-dark;
  color: $bg-white;
}
